<h2>Mon entreprise</h2>
<p><strong>ID : </strong> {{ currentCompany?.id }}</p>
<p><strong>Nom de l'entreprise : </strong> {{ currentCompany?.name }}</p>
<p><strong>Adresse de l'entreprise : </strong> {{ currentCompany?.address }}</p>
<p *ngIf="!currentCompany">Chargement...</p>
<button type="button" (click)="rotateCompanyClicked()">Voir toutes les entreprises</button>

<!-- <h2>Liste des entreprises</h2>
<table>
    <thead>
        <th>Nom</th>
        <th>Adresse</th>
    </thead>
    <tbody>
        <tr *ngFor="let company in companyArray">
            <td>{{ company.name }}</td>
            <td>{{ company.address }}</td>
        </tr>
    </tbody>
</table> -->