<!-- <h2>Mon entreprise</h2>
<p><strong>ID : </strong> {{ currentCompany?.id }}</p>
<p><strong>Nom de l'entreprise : </strong> {{ currentCompany?.name }}</p>
<p><strong>Adresse de l'entreprise : </strong> {{ currentCompany?.address }}</p>
<p *ngIf="!currentCompany">Chargement...</p>
<button type="button" (click)="rotateCompanyClicked()">Voir toutes les entreprises</button>

<p appStatusDirective>En Attente</p>
<p appStatusDirective>Refus</p> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<h2><u>Liste des entreprises</u></h2>
<style>
    h2{
        border-style:solid;
        border-radius: 10px;
        padding: 1%;
        margin: 5vh 0;
        text-align: center;
    }
    th{
        margin: 150px;
        margin-top: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        font-style: oblique;

    }

    #espacement{

    margin: 5vh 0;
    
    }
</style>
<p *ngIf="companyList.length == 0">Chargement...</p>
<table *ngIf="companyList.length > 0">
    <thead>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Statut</th>
        <th>Actions</th>
    </thead>
    <tbody>      
        <tr *ngFor="let company of companyList">
            <td>{{ company.name }}</td>
            <td>{{ company.address }}</td>
            <td appStatusDirective>{{ company.status?.name }}</td>
            <td>
            <a><span (click)="setCurrentCompany(company)" class="StyleA">Éditer</span><br/></a>
                <a (click)="goToCompany(company)" class="StyleA">Voir</a>
            </td>
        </tr>
    </tbody>
    <style>

        .StyleA{
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: medium;
            font-style: oblique;
        
        }
    </style>
</table>
<button type="button" (click)="addNewCompany()" id="espacement">Nouvelle Entreprise</button>
<app-company-form *ngIf="currentCompany" [model]="currentCompany" (emitCompany)="updateList($event)">
</app-company-form>