

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<div *ngFor="let company of companies">
    <p>{{ company.name }} - {{ company.address }} - {{ company.status?.name }}</p>
  </div>
  
  <p *ngIf="!isLoading">Chargement...</p>
  <form *ngIf="isLoading" [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <label for="name">Nom de l'entreprise</label>
    <input type="text" formControlName="name" id="name"
      [ngClass]="companyForm.get('name')?.invalid
      && (companyForm.get('name')?.dirty || companyForm.get('name')?.touched)
      ? 'error-red'
      : ''"/>
  
    <label for="address">Adresse de l'entreprise</label>
    <input type="text" formControlName="address" id="address"
      [ngClass]="companyForm.get('address')?.invalid
      && (companyForm.get('address')?.dirty || companyForm.get('address')?.touched)
      ? 'error-red'
      : ''"/>
  
    <label for="status">Statut</label>
    <select name="status" id="status" formControlName="status">
      <option value="" selected disabled>Veuillez choisir un statut</option>
      <option *ngFor="let name of names" value="{{ name }}">
        {{ name }}
      </option>
    </select>
   
    <button type="submit">Valider</button>
    <button type="button" (click)="resetForm()">Réinitialiser</button>
  
   
  </form>
