<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <label for="id">ID</label>
    <input type="number" formControlName="id" id="id"
    [ngClass]="companyForm.get('id')?.invalid
    && (companyForm.get('id')?.dirty || companyForm.get('id')?.touched)
    ? 'error-red'
    : ''"/>

    <label for="name">Nom de l'entreprise</label>
    <input type="text" formControlName="name" id="name"
    [ngClass]="companyForm.get('name')?.invalid
    && (companyForm.get('name')?.dirty || companyForm.get('name')?.touched)
    ? 'error-red'
    : ''"/>

    <label for="address">Adresse de l'entreprise</label>
    <input type="text" formControlName="address" id="address"
    [ngClass]="companyForm.get('address')?.invalid
    && (companyForm.get('address')?.dirty || companyForm.get('address')?.touched)
    ? 'error-red'
    : ''"/>

    <label for="status">Statut</label>
    <select name="status" id="status" formControlName="status">
        <option value="En Attente">En Attente</option>
        <option value="Refus">Refus</option>
    </select>
    
    <button type="submit">Valider</button>
    <button type="button" (click)="resetForm()">Réinitialiser</button>
</form>